---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Home">
  <div class="container mx-auto px-4 py-16">
    <h1 class="text-4xl font-heading font-bold text-primary mb-4">
      Welcome
    </h1>
    <p class="text-lg text-text">
      Core architecture is set up. Pages will be implemented in the next phase.
    </p>
  </div>
</Layout>

